.root {
    -fx-background-color: linear-gradient(#ffffff, #e6e9ed);
}

.button {
    -fx-border-radius: 10 10 10 10;
    -fx-background-radius: 10 10 10 10;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 40px 40px;
}

#userAccountButton {
    -fx-background-color: linear-gradient(#e8e7e5, #dbdad6);
    -fx-background-image: url("../image/ic_account_circle_white_24dp.png");
    -fx-border-color: linear-gradient(#e8e7e5, #b7b4ae);
}
#userAccountButton:pressed {
    -fx-background-color: linear-gradient(#dbdad6, #e8e7e5);
    -fx-border-color: linear-gradient(#b7b4ae, #e8e7e5);
}

#kidAnagraphicsButton {
   -fx-background-color: linear-gradient(#f0e0a2, #eddb91);
   -fx-background-image: url("../image/ic_child_care_white_24dp.png");
   -fx-border-color: linear-gradient(#f0e0a2, #e2c550);
}
#kidAnagraphicsButton:pressed {
    -fx-background-color: linear-gradient(#eddb91, #f0e0a2);
    -fx-border-color: linear-gradient(#e2c550, #f0e0a2);
}

#adultAnagraphicsButton {
     -fx-background-color: linear-gradient(#fed1be, #fecab4);
     -fx-background-image: url("../image/ic_people_white_24dp.png");
     -fx-border-color: linear-gradient(#fed1be, #fd9568);
}
#adultAnagraphicsButton:pressed {
     -fx-background-color: linear-gradient(#fecab4, #fed1be);
     -fx-border-color: linear-gradient(#fd9568, #fed1be);
}

#canteenButton {
    -fx-background-color: linear-gradient(#abe1fd, #9cdcfc);
    -fx-background-image: url("../image/ic_local_dining_white_24dp.png");
    -fx-border-color: linear-gradient(#abe1fd, #51c2fb);
}
#canteenButton:pressed {
    -fx-background-color: linear-gradient(#9cdcfc, #abe1fd);
    -fx-border-color: linear-gradient(#51c2fb, #abe1fd);
}

#tripsButton {
    -fx-background-color: linear-gradient(#adddcf, #a5d9ca);
    -fx-background-image: url("../image/ic_directions_bus_white_24dp.png");
    -fx-border-color: linear-gradient(#adddcf, #6fc3aa);
}
#tripsButton:pressed {
    -fx-background-color: linear-gradient(#a5d9ca, #adddcf);
    -fx-border-color: linear-gradient(#6fc3aa, #adddcf);
}

#eventsButton {
    -fx-background-color: linear-gradient(#bfb1d5, #bbacd2);
    -fx-background-image: url("../image/ic_today_white_24dp.png");
    -fx-border-color: linear-gradient(#bfb1d5, #927ab8);
}
#eventsButton:pressed {
    -fx-background-color: linear-gradient(#bbacd2, #bfb1d5);
    -fx-border-color: linear-gradient(#927ab8, #bfb1d5);
}