.root {
    -fx-background-color: linear-gradient(#ffffff, #f0e0a2);
}

.button {
    -fx-border-radius: 10 10 10 10;
    -fx-background-radius: 10 10 10 10;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 30px 30px;
    -fx-background-color: linear-gradient(#fc7136, #fc601d);
    -fx-border-color: linear-gradient(#fc7136, #e24603);
}
.button:pressed {
    -fx-background-color: linear-gradient(#fc601d, #fc7136);
    -fx-border-color: linear-gradient(#e24603, #fc7136);
}
.tooltip {
    -fx-border-radius: 0 0 0 0;
    -fx-background-radius: 0 0 0 0;
}

#addButton {
    -fx-background-image: url("../image/baseline_note_add_white_24dp.png");
}

#deleteButton {
    -fx-background-image: url("../image/baseline_delete_white_24dp.png");
}

#detailsButton {
    -fx-background-image: url("../image/baseline_perm_contact_calendar_white_24dp.png");
}

#editButton {
    -fx-background-image: url("../image/baseline_edit_white_24dp.png");
}

