.root {
    -fx-background-color: linear-gradient(#ffffff, #f0e0a2);
}

.button {
    -fx-border-radius: 10 10 10 10;
    -fx-background-radius: 10 10 10 10;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 30px 30px;
    -fx-background-color: linear-gradient(#fed1be, #fecab4);
    -fx-border-color: linear-gradient(#fed1be, #fd9568);
}
.button:pressed {
    -fx-background-color: linear-gradient(#fecab4, #fed1be);
    -fx-border-color: linear-gradient(#fd9568, #fed1be);
}

#addButton {
    -fx-background-image: url("../image/baseline_note_add_white_24dp.png");
}

#deleteButton {
    -fx-background-image: url("../image/baseline_delete_white_24dp.png");
}

#detailsButton {
    -fx-background-image: url("../image/baseline_perm_contact_calendar_white_24dp.png");
}

#editButton {
    -fx-background-image: url("../image/baseline_edit_white_24dp.png");
}

