.root {
    -fx-background-color: linear-gradient(#ffffff, #adddcf);
}

.button {
    -fx-border-radius: 10 10 10 10;
    -fx-background-radius: 10 10 10 10;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 30px 30px;
    -fx-background-color: linear-gradient(#6fc3aa, #5dbb9f);
    -fx-border-color: linear-gradient(#6fc3aa, #44a286);
}
.button:pressed {
    -fx-background-color: linear-gradient(#5dbb9f, #6fc3aa);
    -fx-border-color: linear-gradient(#44a286, #6fc3aa);
}
.tooltip {
    -fx-border-radius: 0 0 0 0;
    -fx-background-radius: 0 0 0 0;
}

#journeyManagerButton {
    -fx-background-image: url("../image/baseline_directions_white_24dp.png");
}

#subscriptionsButton {
    -fx-background-image: url("../image/baseline_chrome_reader_mode_white_24dp.png");
}

#editButton {
    -fx-background-image: url("../image/baseline_edit_white_24dp.png");
}

#detailsButton {
    -fx-background-image: url("../image/baseline_list_alt_white_24dp.png");
}

#deleteButton {
    -fx-background-image: url("../image/baseline_delete_white_24dp.png");
}

#addButton {
    -fx-background-image: url("../image/baseline_add_white_24dp.png");
}

#busButton {
    -fx-background-image: url("../image/ic_directions_bus_white_24dp.png");
}