.root {
    -fx-background-color: linear-gradient(#ffffff, #bfb1d5);
}

.button {
    -fx-border-radius: 10 10 10 10;
    -fx-background-radius: 10 10 10 10;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 30px 30px;
    -fx-background-color: linear-gradient(#e16bb0, #dc56a4);
    -fx-border-color: linear-gradient(#e16bb0, #d42b8e);
}
.button:pressed {
    -fx-background-color: linear-gradient(#dc56a4, #e16bb0);
    -fx-border-color: linear-gradient(#d42b8e, #e16bb0);
}
.tooltip {
    -fx-border-radius: 0 0 0 0;
    -fx-background-radius: 0 0 0 0;
}

#codeAcquisitionButton {
    -fx-background-image: url("../image/ic_payment_white_24dp.png");
}

#logButton {
    -fx-background-image: url("../image/baseline_list_white_24dp.png");
}