<?xml version = "1.0" encoding = "utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>

        <property name="hibernate.dialect">
            org.hibernate.dialect.MariaDBDialect
        </property>

        <property name="hibernate.connection.driver_class">
            org.mariadb.jdbc.Driver
        </property>

        <property name="hibernate.connection.url">
            jdbc:mysql://localhost/childcaretech?createDatabaseIfNotExist=true
        </property>

        <property name="hibernate.hbm2ddl.auto">
            update
        </property>

        <property name="hibernate.connection.username">
            root
        </property>

        <property name="hibernate.connection.password">
            root
        </property>

        <property name="connection.autocommit">
            true
        </property>

        <property name="show_sql">
            false
        </property>

        <property name="format_sql">
            false
        </property>

        <!-- List of mapped entities -->
        <mapping class="ChildCareTech.model.entities.Person"/>
        <mapping class="ChildCareTech.model.entities.Adult"/>
        <mapping class="ChildCareTech.model.entities.Pediatrist"/>
        <mapping class="ChildCareTech.model.entities.Supplier"/>
        <mapping class="ChildCareTech.model.entities.Staff"/>
        <mapping class="ChildCareTech.model.entities.Kid"/>
        <mapping class="ChildCareTech.model.entities.Canteen"/>
        <mapping class="ChildCareTech.model.entities.Meal"/>
        <mapping class="ChildCareTech.model.entities.Dish"/>
        <mapping class="ChildCareTech.model.entities.Drink"/>
        <mapping class="ChildCareTech.model.entities.Food"/>
        <mapping class="ChildCareTech.model.entities.Menu"/>
        <mapping class="ChildCareTech.model.entities.Supply"/>
        <mapping class="ChildCareTech.model.entities.WorkDay"/>
        <mapping class="ChildCareTech.model.entities.Checkpoint"/>
        <mapping class="ChildCareTech.model.entities.Event"/>
        <mapping class="ChildCareTech.model.entities.Trip"/>
        <mapping class="ChildCareTech.model.entities.Bus"/>
        <mapping class="ChildCareTech.model.entities.Route"/>
        <mapping class="ChildCareTech.model.entities.TripPartecipation"/>
        <mapping class="ChildCareTech.model.entities.User"/>

    </session-factory>
</hibernate-configuration>