<?xml version = "1.0" encoding = "utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>

        <property name = "hibernate.dialect">
            org.hibernate.dialect.MariaDBDialect
        </property>

        <property name = "hibernate.connection.driver_class">
            org.mariadb.jdbc.Driver
        </property>

        <property name = "hibernate.connection.url">
            jdbc:mysql://localhost/childcaretech?createDatabaseIfNotExist=true
        </property>

        <property name="hibernate.hbm2ddl.auto">
            update
        </property>

        <property name = "hibernate.connection.username">
            root
        </property>

        <property name = "hibernate.connection.password">
            root
        </property>

        <property name="connection.autocommit">
            true
        </property>

        <!-- List of mapped entities -->
        <mapping class="ChildCareTech.entities.Person"/>
        <mapping class="ChildCareTech.entities.Adult"/>
        <mapping class="ChildCareTech.entities.Pediatrist"/>
        <mapping class="ChildCareTech.entities.Supplier"/>
        <mapping class="ChildCareTech.entities.Staff"/>
        <mapping class="ChildCareTech.entities.Kid"/>
        <mapping class="ChildCareTech.entities.Canteen"/>
        <mapping class="ChildCareTech.entities.Meal"/>
        <mapping class="ChildCareTech.entities.Dish"/>
        <mapping class="ChildCareTech.entities.Drink"/>
        <mapping class="ChildCareTech.entities.Food"/>
        <mapping class="ChildCareTech.entities.Menu"/>
        <mapping class="ChildCareTech.entities.Supply"/>
        <mapping class="ChildCareTech.entities.WorkDay"/>

    </session-factory>
</hibernate-configuration>