<?xml version = "1.0" encoding = "utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>

        <property name="hibernate.dialect">
            org.hibernate.dialect.MariaDBDialect
        </property>

        <property name="hibernate.connection.driver_class">
            org.mariadb.jdbc.Driver
        </property>

        <property name="hibernate.connection.url">
            jdbc:mysql://localhost/childcaretech?createDatabaseIfNotExist=true
        </property>

        <property name="hibernate.hbm2ddl.auto">
            update
        </property>

        <property name="hibernate.connection.username">
            root
        </property>

        <property name="hibernate.connection.password">
            root
        </property>

        <property name="connection.autocommit">
            true
        </property>

        <property name="show_sql">
            true
        </property>

        <property name="format_sql">
            true
        </property>

        <!-- List of mapped entities -->
        <mapping class="ChildCareTech.model.person.Person"/>
        <mapping class="ChildCareTech.model.adult.Adult"/>
        <mapping class="ChildCareTech.model.pediatrist.Pediatrist"/>
        <mapping class="ChildCareTech.model.supplier.Supplier"/>
        <mapping class="ChildCareTech.model.staff.Staff"/>
        <mapping class="ChildCareTech.model.kid.Kid"/>
        <mapping class="ChildCareTech.model.canteen.Canteen"/>
        <mapping class="ChildCareTech.model.meal.Meal"/>
        <mapping class="ChildCareTech.model.dish.Dish"/>
        <mapping class="ChildCareTech.model.drink.Drink"/>
        <mapping class="ChildCareTech.model.food.Food"/>
        <mapping class="ChildCareTech.model.menu.Menu"/>
        <mapping class="ChildCareTech.model.supply.Supply"/>
        <mapping class="ChildCareTech.model.workday.WorkDay"/>
        <mapping class="ChildCareTech.model.event.Event"/>
        <mapping class="ChildCareTech.model.trip.Trip"/>
        <mapping class="ChildCareTech.model.bus.Bus"/>
        <mapping class="ChildCareTech.model.stop.Stop"/>
        <mapping class="ChildCareTech.model.trippartecipation.TripPartecipation"/>
        <mapping class="ChildCareTech.model.user.User"/>

    </session-factory>
</hibernate-configuration>